[submodule "src/unitree"]
	path = src/unitree
	url = https://github.com/OpenMind/unitree_sdk2_python.git
[submodule "src/ubtech"]
	path = src/ubtech
	url = https://github.com/OpenMind/ubtech.git
[submodule "third_party/route_planner"]
	path = third_party/route_planner
	url = https://github.com/hanyu462/route-planner.git
[submodule "ros2_ws/src/g1_onboard_msgs"]
	path = ros2_ws/src/g1_onboard_msgs
	url = git@github.com:Safety-Node/kist-drl-g1-msgs.git
